@import url(https://fonts.googleapis.com/css?family=Nunito);

html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Nunito;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.box {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	overflow: hidden;
	border: 3px solid black;
	-webkit-border-radius: 19px;
	border-radius: 19px;
	text-align: center;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	background: rgba(209, 209, 209, 0.7);
	-webkit-box-shadow: 6px 6px 10px 0 rgba(0,0,0,0.3) ;
	box-shadow: 6px 6px 10px 0 rgba(0,0,0,0.3) ;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

#header
{
	position: relative;
	margin: 100px 50px 0 50px;
	display: block;
	padding: 0 30px 0 30px;
	text-align: center;
    font-size: 175%;
    color: #fff;
    text-shadow: 0 2px 2px #000;
}

#header p
{
	margin-top: 0px;
}

#header h1
{
	color: rgba(39,104,234,1);
	font-size: 48px;
	letter-spacing: 2px;
}

#nurse
{
	position: relative;
	margin: 10% 0px 0 50px;
	display:block;
	padding: 0 30px 0 30px;
	float: left;
	font-size: 30px;
}

#nurse-service
{
	position: relative;
	display:block;
	margin: 20px 0px 0 50px;
	padding: 0 30px 0 30px;
	float: left;
	font-size: 22px;
	text-align: left;
}

#podology
{
	position: relative;
	margin: 10% 0px 0 50px;
	display:block;
	padding: 0 30px 0 30px;
	float: left;
	font-size: 30px;
}

#podology-service
{
	position: relative;
	display:block;
	margin: 20px 0px 0 50px;
	padding: 0 30px 0 30px;
	float: left;
	font-size: 22px;
	text-align: left;
}


#title {
	background-image: url("../images/stetoskop.jpg");
  z-index:1;
}

#slide1{
  background-image: url("../images/nurse_attributes.jpeg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide2 {
  background-image: url("../images/stopy.jpg");
  z-index:1;
}

/*----------------------------------------------*/
#container
{
	display: inline-block;
	border: 1px solid black;
}

#right
{
	display: block;
	float: left;
}
#left
{
	float: right;
}

#info-box
{
	position: relative;
	padding: 30px 30px 30px 30px;
}

#podology-service2 ul>li:hover
{
	color: red;
}

#podology-service2 ul>li:hover + #info-box
{
	display: none;
}

#podology-service2
{
	position: relative;
	display:block;
	margin: 20px 0px 0 50px;
	padding: 0 30px 0 30px;
	float: left;
	font-size: 22px;
	text-align: left;
}